<!DOCTYPE html>
<html lang="en" ng-app="basicDraw">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic Drawing App</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

  </head>
  <body class="container">
    <h1>Basic Draw App - <small>AngularJS</small></h1>
    <div class="row">
      <div id="canvasView" class="col-xs-6" ng-controller="CanvasCtrl">
        <div>
          <button class="btn btn-sm btn-default" ng-class="{active:activeShape == 'ellipse'}" ng-click="activeShape = 'ellipse'">
            Ellipse
          </button>
          <button class="btn btn-sm btn-default" ng-class="{active:activeShape == 'rectangle'}" ng-click="activeShape = 'rectangle'">
            Rectangle
          </button>
          <button class="btn btn-sm btn-default" ng-class="{active:activeShape == 'segment'}" ng-click="activeShape = 'segment'">
            Segment
          </button>
        </div>
        <svg ng-mousedown="startDrawShape($event)" ng-mouseup="stopDrawShape()" ng-mousemove="updateDrawShape($event)">
          <ellipse ng-repeat="shape in shapes | filter:'ellipse'" ng-attr-cx="{{shape.x+shape.w/2}}" ng-attr-cy="{{shape.y+shape.h/2}}" ng-attr-rx="{{Math.abs(shape.w/2)}}" ng-attr-ry="{{Math.abs(shape.h/2)}}" style="fill-opacity:0;stroke:black;stroke-width:1" ng-click="setSelected(shape)"/>
          <rect ng-repeat="shape in shapes | filter:'rectangle'" ng-attr-x="{{shape.x}}" ng-attr-y="{{shape.y}}" ng-attr-width="{{Math.abs(shape.w)}}" ng-attr-height="{{Math.abs(shape.h)}}" style="fill-opacity:0;stroke:black;stroke-width:1" />
          <line ng-repeat="shape in shapes | filter:'segment'" ng-attr-x1="{{shape.x}}" ng-attr-y1="{{shape.y}}" ng-attr-x2="{{shape.x + shape.w}}" ng-attr-y2="{{shape.y + shape.h}}" style="stroke:black;stroke-width:1"/>
        </svg>
      </div>
      <div id="formView" class="col-xs-6" ng-controller="FormCtrl">
        <div class="col-xs-6">
            <select id="shapeList" multiple class="form-control" size="10">
              <option ng-repeat="shape in shapes" ng-click="setSelected(shape)">{{shape.type}}:{{shape.x}}, {{shape.y}}, {{shape.h}}, {{shape.w}}</option>
            </select>
        </div>
        <div class="col-xs-6 form-horizontal">
          <div class="form-group">
            <label for="x" class="col-sm-2 control-label">X</label>
            <div class="col-sm-10">
              <input ng-model="selectedShape.x" type="number" class="form-control" id="x" placeholder="Enter x coordinate">
            </div>
          </div>
          <div class="form-group">
            <label for="x" class="col-sm-2 control-label">Y</label>
            <div class="col-sm-10">
              <input ng-model="selectedShape.y" type="number" class="form-control" id="y" placeholder="Enter y coordinate">
            </div>
          </div>
          <div class="form-group">
            <label for="x" class="col-sm-2 control-label">Width</label>
            <div class="col-sm-10">
              <input ng-model="selectedShape.h" type="number" class="form-control" id="w" placeholder="Enter width">
            </div>
          </div>
          <div class="form-group">
            <label for="x"class="col-sm-2 control-label">Height</label>
            <div class="col-sm-10">
              <input ng-model="selectedShape.w" type="number" class="form-control" id="h" placeholder="Enter height">
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <!-- Include angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <!-- Include our application libraries -->
    <script src="js/app.js"></script>
    <script src="js/services/shapeModel.js"></script>
    <script src="js/controllers/canvasCtrl.js"></script>
    <script src="js/controllers/formCtrl.js"></script>

  </body>
</html>